<!DOCTYPE html>
{% extends 'testapp/demo.html' %}
{% block body_block %}

<style>
    .list-container {
      display: flex;
    }
    .list-container ul {
      margin-right: 130px;
    }

    .list-container{
        background-color: gray;
        color: gold;
    }
    .container{
        color: black;
        background-color: rgb(189, 196, 190);
        text-align: center;
    }
  </style>
<div class="list-container">
    <ul>
    <li>Free counselling sessions for students</li>
    <li>Free pyschometric tests for students</li>
    <li>Workshops for students</li>
    <li>Workshop for teachers and admnistrators</li>
    <li>Assistance in setting up specialized labs in school</li>
    <li>Exchange of teaching resources and teaching strategies</li>
   </ul>
   <ul>
    <li>Joint community based activities </li>
    <li>Guidance in sports and cultural activities</li>
    <li>20% scholarship to Principals, Teachers and Staff <br>
     members for pursuing any Regular or Distance education <br>
     program from LPU. In case the Principal, Teacher and Staff <br>
 member is eligible for any other scholarship offered by LPU, 10% <br>
  additional scholarship on normal programme fee will be provided.</li>
   </ul>
   <div>

    <h1>What is LPU famous for?</h1>
    <p> >>LPU has to its credit, renowned National and International accreditations and recognitions which are the manifestation of its global standards. LPU is also known for its rich cultural diversity as students hail from all the states of India and almost 39 countries of the world.
    <br>>>Course curriculum: The backbone of every educator is their curriculum, and LPU has a mechanism in place to upgrade the curriculum every semester. ...
<br>>>Alumni Network: There are chapters of LPU alumni in over 100 countries, with over 1.5 million students graduating from LPU in all courses combined.
<br><h1>Why should I choose LPU?</h1>
<p>>>It is one of the leading universities in India that offer quality education to its students. LPU offers its students an excellent learning atmosphere and great career opportunities for growth.

<h1>What is the best package in LPU?</h1>
<p>>>The highest international and domestic package offered during LPU placements 2022 stood at INR 300 LPA and INR 64 LPA, respectively.
</p></p></p>
<a href="https://api.whatsapp.com/send?phone=8113826889"><button type="button" class="btn btn-info">WhatsApp</button></a><span></span><span></span>
   <a href="tel:+8114826889" ><button type="button" class="btn btn-danger" style="color: rgb(206, 146, 35);" >Call us</a>
   </div>

    

{% endblock %}