<!DOCTYPE html>
{% extends 'testapp/demo.html' %}
{% block body_block %}

<div class="container" style="background-color: lightblue;">
    <div>
        <h1 style="color: red;">Ground breaking moment for LPU</h1>
        <p>Yasir M. has made history by securing a whopping Rs. 3 crore package in a global IT giant. He will be working on AI/ML projects, which is a highly coveted field in the industry.</p>
        <img src="https://www.lpu.in/images/home-slider/slide-placement-new.jpg" alt="Image" height="500" width="1370">
    </div>
    <div>
        <h1 style="color: red;">Virat Kohli congratulates LPU for breaking participation record in Tokyo Olympics</h1>
        <p>According to a press release by LPU University, Jalandhar, 11 students of the institution are part of the Indian contingent, representing the country in the Tokyo 2020 Olympics.</p>
        <img src="https://tsncdn.truescoopnews.com/images/full/newsinner_20210727082111_1.jpg" alt="Image" height="500" width="1170">
    </div>
    <div>
        <h1 style="color: blueviolet;">Hon’ble President of India honoured LPU MBA student with NSS Award at Rashtrapati Bhavan</h1>
        <p>Hon’ble President of India Smt. Droupadi Murmu has conferred National Service Scheme Award 2020-21 on the MBA student Chukkala PardhaSardi of Lovely Professional University (LPU). The award is bestowed upon LPU students in recognition of his exemplary & commendable social service as an NSS Volunteer. Presently, awardee student is studying at LPU’s Mittal School of Business in Punjab. He has received a medal, certificate & cash award of Rupees One Lakh.</p>
        <img src="https://thenewsstrike.com/storage/wp_blog/image-24-31.png" alt="Image" height="500" width="1170">
    </div>

    <a href="/home">
        <button type="button" class="btn btn-success">Home Page</button>
    </a>
</div>

{% endblock %}
