<!DOCTYPE html>
{% extends 'testapp/demo.html' %}
{% block body_block %}

<style>
    .list-container {
      display: flex;
    }
    .list-container ul {
      margin-right: 20px;
    }
    .list-container{
        background-color: gray;
        color: gold;
    }
    .container{
        color: black;
        background-color: rgb(189, 196, 190);
        text-align: center;
    }
  </style>
<div class="list-container">
    <p><ul>
        <li>Engineering</li>
        <li>Computer Science and Engineering</li>
        <li>Computer Applications and IT</li>
        <li>Agriculture</li>
        <li>Food Technology</li>
        <li>Nutrition and Dietetics</li>
        <li>Biotechnology </li>
        <li>Microbiology</li>
        <li>Bioinformatics</li>
        <li>Biochemistry</li>
        <li>Forensic Sciences</li>
        <li>Sciencesli</li>
        <li>Botany</li>
        <li>Journalism and Mass Communication</li>
        <li>Performing Arts</li>
        <li>Fine Arts</li>
        <li>Mathematics and Statistics</li>
        <li>Environmental Sciences</li>
    </ul>
    <ul>
        <li>Management</li>
        <li>Commerce</li>
        <li>Economics</li>
        <li>Hotel Management and Tourism</li>
        <li>Architecture</li>
        <li>Planning</li>
        <li>Design</li>
        <li>Fashion Design</li>
        <li>Product and Industrial Design</li>
        <li>Multimedia and Animation Design</li>
        <li>Interior and Furniture Design</li>
        <li>Interaction Design(UI/UX)</li>
        <li>Zoology</li>
        <li>Geography</li>
        <li>Punjabi</li>
        <li>Indian Languages</li>
        <li>Physical Education</li>
        <li>Education</li>
    </ul>
    <ul>
        <li>Law</li>
        <li>Pharmaceutical Sciences</li>
        <li>Applied Medical Sciences</li>
        <li>Physiotherapy</li>
        <li>MLT or Paramedical Sciences or Embryology</li>
        <li>Ayurvedic Pharmaceutical Sciences</li>
        <li>Arts (Humanities)</li>
        <li>History</li>
        <li>Psychology</li>
        <li>Sociology</li>
        <li>Political Science</li>
        <li>Public Administration</li>
        <li>Public Administration</li>
        <li>Physics</li>
        <li>Chemistry</li>
        <li>Library Science</li>
        <li>English and Foreign Languages</li>
    </ul>
    </p>
</div>
<div class="container">
    <h2>STUDENTS FROM 28 STATES & 50+ COUNTRIES!</h2>
    <h3>What unites them? They all #ThinkBIG
    </h3>
    
</div>
<a href="/home">
    <button type="button" class="btn btn-success">Home Page</button>
</a>
{% endblock %}